@import '../../assets/styles/main';

.container {
    @include container;
    display: flex;

    .leftContent {
        flex-basis: 300px;
    }

    .mainContent {
        flex: 1;
    }

    .rightContent {
        flex-basis: 400px;
    }
}
