@import '../../../assets/styles/main';

.button {
    border-radius: $radius;
    border: 1px solid transparent;
    padding: $md-space $xl-space;
    transition: $transition;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:disabled, .loading {
        opacity: 0.5;
        pointer-events: none;
    }

    &.iconBtn {
        padding: $md-space;
        border-radius: 50%;
        font-size: $font-sm;
    }

    .icon {
        margin-right: $sm-space;
    }

    &.normal {
        background-color: $primary;
        color: $white;

        &:hover {
            background-color: $secondary;
        }
    }

    &.outline {
        background-color: transparent;
        border-color: $primary;
        color: $primary;

        &:hover {
            background-color: $primary;
            color: $white;
        }
    }
}
