@import '../../../assets/styles/main';

.formGroup {
    margin: $md-space 0;

    &.marginless {
        margin: 0;
    }

    label {
        display: block;
        margin-bottom: $xs-space;
    }

    input, textarea {
        border-radius: $radius;
        border: 1px solid $secondary;
        outline: none;
        padding: $sm-space;

        &:focus {
            border-color: $accent;
        }
    }

    textarea {
        resize: none;
    }

    .block {
        width: 100%;
        display: block;
    }

    .error {
        border-color: red;
    }
}
