$xs-space: 4px;
$sm-space: 8px;
$md-space: 16px;
$lg-space: 20px;
$xl-space: 32px;
$xxl-space: 64px;

$font-xs: 13px;
$font-sm: 15px;
$font-md: 20px;
$font-lg: 24px;
$font-xl: 32px;

$font-thin: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

$shadow: 0 0 4px 0 $secondary;

$radius: 4px;

$transition: 150ms ease-in-out;
