@import '../../assets/styles/main';


.tweetCard {
    margin: $md-space 0;

    &:hover {
        background-color: darken($white, 5%);
    }

    .profileLink {
        display: flex;
        cursor: pointer;
    }

    .imgWrapper {
        .profileImg {
            border-radius: 50%;
            width: 42px;
            height: 42px;
        }
    }
}

.contentWrapper {
    margin-left: $md-space;
    flex: 1;

    .contentHeader {
        margin-bottom: $sm-space;

        a:hover {
            text-decoration: underline;
        }
    }

    .contentBody {
        margin-bottom: $sm-space;
    }

    .tweetImgWrapper {
        max-height: 250px;
        overflow: hidden;
        border-radius: $radius;
        margin-bottom: $sm-space;

        .tweetImg {
            height: 100%;
            width: 100%;
        }
    }

    .contentActions {
        display: flex;

        .actionWrapper {
            flex: 1;
            display: flex;
            align-items: center;

            span {
                margin-left: $sm-space;
            }
        }
    }
}