@import '../../assets/styles/main';


.tweetCard {
    margin: $md-space 0;

    &:hover {
        background-color: darken($white, 5%);
    }
}

.contentWrapper {
    margin-left: $md-space;
    flex: 1;

    .contentHeader {
        margin-bottom: $sm-space;
    }

    .contentBody {
        margin-bottom: $sm-space;
    }

    .contentActions {
        display: flex;

        .actionWrapper {
            flex: 1;
            display: flex;
            align-items: center;

            span {
                margin-left: $sm-space;
            }
        }
    }
}