@import '../../assets/styles/main';


.mainHeader {
    padding: $md-space 0;
}

.tweetFormWrapper {
    .formContent {
        margin-left: $sm-space;
        flex: 1;

        .formBody {
            margin-bottom: $sm-space;
        }
    }
}

.tweetLinkWrapper {
    text-decoration: none;
    color: $primary;
}
