@import '../../assets/styles/main';


.mainHeader {
    padding: $md-space 0;
}

.tweetFormWrapper {
    .formImgWrapper {
        a {
            display: flex;

            .profileImg {
                border-radius: 50%;
                width: 42px;
                height: 42px;
            }
        }
    }
    .formContent {
        margin-left: $sm-space;
        flex: 1;

        .formBody {
            margin-bottom: $sm-space;
        }
    }
}

.tweetLink {
    cursor: pointer;
}
