@import '../../assets/styles/main';


.mainHeader {
    padding: $md-space 0;
}

.tweetFormWrapper {
    .formImgWrapper {
        a {
            display: flex;

            .profileImg {
                border-radius: 50%;
                width: 42px;
                height: 42px;
            }
        }
    }
    .formContent {
        margin-left: $sm-space;
        flex: 1;

        .formBody {
            margin-bottom: $sm-space;
            position: relative;

            .imageInput {
                display: none;
            }

            .imageInputBtn {
                position: absolute;
                bottom: $xs-space;
                left: $xs-space;
            }
        }

        .imagePreviewWrapper {
            max-height: 250px;
            overflow: hidden;
            margin-bottom: $sm-space;
            border-radius: $radius;

            .imagePreview {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.tweetLink {
    cursor: pointer;
}
